body {
  background-color: rgba(207, 131, 32, 0.534);
  background-image: url('https://media.tenor.com/sboZxklZ2pcAAAAC/8bit-space.gif');
}

h3 {
  text-align: center;
}

input {
  text-align: center;
  background-color: antiquewhite;
  margin: 7px;
  width:140px;
}
select{
  border-color: black;
  text-align: center;
  background-color: antiquewhite;
  margin: 7px;
  width:130px;
}
button:hover {
  height: 20px;
  background-color:purple;
  color:aqua;
  
}
footer {
  width: 300px;
  padding: 40px;
  margin: auto;
  left: 30px;
  width: 94%;
  font-size: 18px;
}

.quadradao {
  text-align: center;
  background-color: white;
  width: 300px;
  border: 15px solid rgba(116, 93, 47, 0.534);
  padding: 40px;
  margin: auto;
  left: 30px;
  width: 50%;
  font-size: 18px;
}

.center {
  min-height: 60vh;
  text-align: center;
  background-color: white;
  border: 15px solid rgba(116, 93, 47, 0.534);
  padding: 20px;
  margin: auto;
  width: 40%;
  font-size: 18px;
}

.final {
  margin-top: auto;
  text-align: center;
  text-decoration: blue;
  text-decoration-color: black;
}

img{
  width: 150px;
  margin-top: 20px;
  margin-left: 10px;
  border-style:double;
  border-radius: 5px;
}

text{
  text-align: center;
  color: purple;
}

table{
    margin-left:25%; 
    margin-right:15%;
    background-color:white;
    position:bottom;
    top: 20px;
    width: 50%;
    height: 60px;
    text-align: center;
    color:blue;

}
h4{
  width:auto;
}
